SERVER_PORT=
ENV=

DB_NAME=
DB_PORT=
DATABASE=
DB_USERNAME=
DB_PASSWORD=
DB_DIALECT=

DATABASE_MIGRATION=

SALT=
AT_SECRET=
RT_SECRET=

ADMIN_PASSWORD=
ADMIN_USERNAME=
ADMIN_EMAIL=
DEFAULT_TEACHER_PASSWORD=
DEFAULT_STUDENT_PASSWORD=

MAIL_HOST=
MAIL_PORT=
MAIL_USER=
MAIL_PASSWORD=
MAIL_FROM=

DO_SPACES_ACCESS_KEY=
DO_SPACES_SECRET_KEY=
DO_SPACES_BUCKET=
DO_SPACES_ENDPOINT=
DEFAULT_PROFILE_PICTURE=

REDIS_HOST=
REDIS_USER=
REDIS_PORT=
REDIS_PASSWORD=